$primary-color: red;

#root {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfbee;
}

a {
  text-decoration: none;
  color: inherit;
}

ul:not(#contact ul) {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
}

li {
  margin: 0 10px;
}

#nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 1px solid;
  font-weight: bold;
}

#search-icon {
  cursor: pointer;
}

#categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

#categories p {
  font-size: 20px;
  cursor: pointer;
}

.posts {
  margin-top: 70px;
}

.single-post {
  box-sizing: border-box;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.post-img {
  width: 600px;
  height: 300px;
}

.post-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.post-title {
  font-size: 25px;
  margin: 0;
  font-weight: 500;
}

.post-details {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 50%;
}

.post-excerpt p {
  font-weight: 200;
  text-align: start;
  font-size: 18px;
  margin-top: 5px;
}

.post-date {
  margin-bottom: 0;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.back-link {
  text-decoration: underline;
}

.single-article-image {
  overflow: hidden;
  height: 400px;
  margin-bottom: 40px;
}

.single-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-article-title {
  text-align: center;
}

.single-post-page p {
  font-weight: 400;
  font-family: sans-serif;
}

.read-more-btn:hover {
  text-decoration: underline;
}

#contact section:not(#contact section:last-child) {
  margin-bottom: 70px;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 0;
}

#contact_resources {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#tech-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#tech-stack .tech-stack-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-stack-item img {
  width: auto;
  height: 80px;
}

#search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-wrap button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

#search-wrap input {
  border: 1px solid;
  background-color: transparent;
  font-size: 15px;
}
