$primary-color: red;

#root {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 300px;
}

li {
  margin: 0 10px;
}

#nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 1px solid;
}

#search-icon {
  cursor: pointer;
}

#categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#categories p {
  font-size: 20px;
  cursor: pointer;
}
