$primary-color: red;

#root {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 300px;
}

li {
  margin: 0 10px;
}

#nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 1px solid;
}

#search-icon {
  cursor: pointer;
}

#categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#categories p {
  font-size: 20px;
  cursor: pointer;
}

#posts {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.single-post p {
  font-size: 20px;
  text-align: center;
}

.single-post {
  width: calc(50% - 10px);
  box-sizing: border-box;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-img {
  width: 500px;
  height: 450px;
}

.post-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
